
.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

    .book-card img {
        width: 200px; /* Ajusta este valor para hacer la imagen más grande o más pequeña */
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
    }

        .book-card img:hover {
            transform: scale(1.05);
        }

    .book-card h3 {
        margin-top: 0.5rem;
        font-size: 2.2rem;
        color: #45322E;
    }
