.catalogo-container {
    background-color: #292525;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido verticalmente */
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente los elementos */
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left:40px;
}

.advanced-search {
    background-color: #FFF0D7;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    color: #45322E; /* Color de texto ajustado según tus preferencias */
}

.advanced-search-header {
    background-color: #45322E;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #45322E;
    margin-right: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    background-color: #FFF0D7;
    color: #45322E;
    padding: 10px;
    margin-bottom:25px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

    .dropdown-button:hover {
        background-color: #FFF0D7; /* Mantener el color al pasar el mouse */
    }

        .dropdown-button:hover .arrow-up,
        .dropdown-button:hover .arrow-down {
            color: #45322E; /* Color de texto al pasar el mouse */
        }

.search-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 7px;
  
    border-radius: 20%; /* Asegura que el botón sea circular */
}
    .search-icon:hover {
        color: #45322E;
    }
        .search-icon img {
        width: 24px;
        height: 24px;
        margin-bottom: 20px;
        margin-right: 35px;
        object-fit: cover; /* Ajusta la imagen al contenedor circular */
        
    }

.advanced-search-content {
    padding: 10px;
}

.advanced-search-item {
    margin: 20px 0;
}

.advanced-search-title {
    font-size: 20px; /* Ajusta este tamaño según tus necesidades */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advanced-search-options label {
    display: block;
    margin: 5px 0;
    color: #45322E; /* Color de texto ajustado según tus preferencias */
}

.advanced-search-options input {
    margin-right: 5px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.book-item {
    flex: 1 0 30%;
    text-align: center;
    transition: transform 0.3s;
}

    .book-item img {
        width: 150px; /* Ajusta el tamaño de la imagen al contenedor */
        height: 150px;
        border-radius: 5px;
    }

    .book-item:hover img {
        transform: scale(1.05);
    }

.book-title {
    margin-top: 10px;
    color: #FFF0D7; /* Color de texto ajustado según tus preferencias */
}
