.catalogo-container {
    background-color: #292525;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center; /* Para centrar los elementos horizontalmente */
    margin-bottom: 20px;
    margin-top: 40px; /* Ajusta este margen según tu preferencia */
}

.advanced-search {
    background-color: #FFF0D7;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    color: #45322E; /* Color de texto ajustado según tus preferencias */
}

.advanced-search-header {
    background-color: #45322E;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}


.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #45322E;
    margin-right: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    background-color: #FFF0D7;
    color: black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.advanced-search-content {
    padding: 10px;
}

.advanced-search-item {
    margin: 10px 0;
}

.advanced-search-title {
    font-size: 20px; /* Ajusta este tamaño según tus necesidades */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advanced-search-options label {
    display: block;
    margin: 5px 0;
    color: black;
}

.advanced-search-options input {
    margin-right: 5px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    flex: 1 0 30%;
    text-align: center;
    transition: transform 0.3s;
}

    .book-item img {
        width: 150px; /* Tamaño ajustable según tus preferencias */
        height: auto;
        border-radius: 5px;
    }

    .book-item:hover img {
        transform: scale(1.05);
    }

.book-title {
    margin-top: 10px;
    color: #FFF0D7; /* Color de texto ajustado según tus preferencias */
}