.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3D3D3D;
    padding: 0.5rem 1rem;
}

    .header.light {
        background-color: #f2e7d4;
        color: #292525;
    }

    .header.dark {
        background-color: #3D3D3D;
        color: #FFF0D7;
    }

.logo span {
    color: #FFF0D7;
}

.logo strong {
    font-weight: bold;
    color: #FFF0D7;
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

    nav input {
        padding: 0.5rem;
        background-color: #FFF;
        color: #3D3D3D;
    }

nav a {
    margin: 0 1rem;
    color: #FFF0D7;
}


nav input {
    padding: 0.5rem;
    background-color: #FFF;
    color: #3D3D3D;
}

.search-button, .mode-button {
    padding: 0.4rem;
    background-color: #FFF;
    color: #3D3D3D;
    margin-left: 0.4rem;
}

    .search-button img {
        width: 15px; 
        height: 15px; 
    }



.profile {
    display: flex;
    align-items: center;
    margin-left: 3rem; 
    margin-right: 1rem; 
}

    .profile img {
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
    }

.arrow {
    margin-left: 0.5rem;
}

.dropdown-menu {
    position: absolute;
    top: 8%; 
    right: 0; 
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 0.5rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100; 
}