.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3D3D3D;
    padding: 0.5rem 1rem;
}

    .header.light {
        background-color: #f2e7d4;
        color: #292525;
    }

    .header.dark {
        background-color: #3D3D3D;
        color: #FFF0D7;
    }

.logo span {
    color: #FFF0D7;
}

.logo strong {
    font-weight: bold;
    color: #FFF0D7;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

    nav a {
        margin: 0 1rem;
        color: #FFF0D7;
    }

    nav input {
        padding: 0.5rem;
        background-color: #FFF;
        color: #3D3D3D;
    }

.search-button, .mode-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    background-color: #FFF;
    color: #3D3D3D;
    margin-bottom: 1.5rem;
    border: none;
    margin-left: 0.4rem;
    cursor: pointer;
    border-radius: 4px; /* Asegúrate de que no sean redondos */
}

    .search-button img {
        width: 20px; /* Ajusta el tamaño de la imagen */
        height: 20px; /* Ajusta el tamaño de la imagen */
    }

.profile {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-right: 1rem;
}

    .profile img {
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
        border-radius: 50%; /* Mantén la imagen del perfil redonda */
    }

.arrow {
    margin-left: 0.5rem;
}

.dropdown-menu {
    position: absolute;
    top: 13%;
    right: 0;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 0.5rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
