
.home-page {
    padding: 8rem;
}

.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

