.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

    .login-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px); 
        z-index: 0;
        background-size: cover;
        background-position: center;
        background-repeat:no-repeat;
    }

.login-box {
    position: relative;
    z-index: 1;
    background-color: #FFEBD9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 3px solid #45322E;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.avatar-bg {
    background-color: #45322E;
    border-radius: 50%;
    padding: 1rem;
}

.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

    .input-group img {
        width: 30px;
        height: 30px;
        margin-right: 0.4rem;
    }

    .input-group input {
        flex: 1;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #45322E;
        background-color: white;
    }

        .input-group input::placeholder {
            color: #45322E;
        }

    .input-group span {
        position: absolute;
        right: 10px; /* Ajusta el valor según tu diseño */
        cursor: pointer;
    }

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

    .options label {
        color: #45322E;
        margin-right: 1rem;
    }

    .options a {
        color: #007BFF;
        text-decoration: underline;
        cursor: pointer;
        margin-left: 1rem;
    }

button {
    width: 100%;
    padding: 0.8rem;
    background: #45322E;
    color: #FFEBD9;
    margin-top: 1.5rem;
    border: 2px solid #FFEBD9;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    border-radius: 20px;
}

    button:hover {
        background: #FFEBD9;
        color: #45322E;
        border: 2px solid #45322E;
    }
