.favorites-page {
    padding: 20px;
    background-color: #2b2b2b;
    color: white;
}

    .favorites-page h1 {
        text-align: center;
    }

.favorites-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.book-card {
    background-color: #404040;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

    .book-card img {
        width: 100%;
        border-radius: 5px;
    }

    .book-card p {
        margin-top: 10px;
    }
